body {
  font-family: Arial, sans-serif;
  margin: 100px;
  padding: 0;
  background-color: #f4f4f4;
  background-image: url(../Images/back\ new.jpg);
}

header {
  background-color: #b48031;
  color: white;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

nav ul li a {
  color: rgb(3, 3, 3);
  text-decoration: none;
}

#hero {
  background: url('images/hero.jpg') no-repeat center center/cover;
  color: rgb(172, 161, 161);
  padding: 80px 20px;
  text-align: center;
}

section {
  padding: 40px 20px;
}

.product-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  width: 200px;
  text-align: center;
  border-radius: 10px;
}

.product img {
  width: 100%;
  height: auto;
}

form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

    body {
      font-family: Arial, sans-serif;
      margin: 0;
   
    }

    .header {
    
      padding: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .search-container {
      display: flex;
      max-width: 200px;
      height: 20px;
      align-items: stretch; /*Important for equal height */
      border-radius: 25px;
      overflow: hidden;
      box-shadow: 0 0 8px (0, 0, 0,0.05);
    }

    .search-input {
      flex: 1;
      padding: 10px 15px;
      border: none;
      outline: none;
      font-size: 16px;
    }

    .search-button {
      padding: 10px 20px;
      flex: auto;
      background-color: #007bff;
      color: white;
      border: none;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s ease;
    }

    .search-button:hover {
      background-color: #0056b3;
    }

  button {
    background-color: #25D366; /* WhatsApp green */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
  }

  button:hover {
    background-color: #1ebea5;
  }



